PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=iot_demo
DB_USER=root
DB_PASSWORD=
MQTT_URL=mqtt://127.0.0.1:1884
MQTT_TOPIC_TELEMETRY=iot/demo/esp32_01/telemetry
MQTT_TOPIC_CMD=iot/demo/esp32_01/cmd
MQTT_TOPIC_ACK=iot/demo/esp32_01/ack
ACK_TIMEOUT_MS=5000
TZ=UTC
